!!!
%html
  %head
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "The Middleman"

    %link{:href => "//fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "site"

  %body{class: page_classes}
    = yield

    = javascript_include_tag "bower_components/jquery/dist/jquery.min.js"
    = javascript_include_tag "bower_components/what-input/what-input.min.js"
    = javascript_include_tag "bower_components/foundation-sites/dist/foundation.min.js"
    = javascript_include_tag "bower_components/particles.js/particles.js"
    = javascript_include_tag "all"

